<div class="menu-left">
    <mat-list>
        <a mat-list-item routerLink='newpromo'>Item 1</a>
        <mat-divider> </mat-divider>
        <a mat-list-item routerLink=''>Item 1</a>
        <mat-divider> </mat-divider>
        <a mat-list-item routerLink=''>Item 1</a>
        <mat-divider> </mat-divider>
        <a mat-list-item routerLink=''>Item 1</a>
        <mat-divider> </mat-divider>
        <a mat-list-item routerLink=''>Item 1</a>
        <mat-divider> </mat-divider>
        <a mat-list-item routerLink=''>Item 1</a>
        <mat-divider> </mat-divider>
        <a mat-list-item routerLink=''>Item 1</a>
        <mat-divider> </mat-divider>
        <a mat-list-item routerLink=''>Item 1</a>
        <mat-divider> </mat-divider>
        <a mat-list-item routerLink=''>Item 1</a>
        <mat-divider> </mat-divider>
    </mat-list>
</div>