<div fxLayout="row" fxLayoutAlign="center stretch" class="back-branco">
        <div fxLayout="column" fxLayoutAlign="center stretch" class="example-card">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Abra sua conta</mat-card-title>
                <mat-card-subtitle>Rapido e facil!</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <form [formGroup]="form" class="example-container">
                    <mat-form-field  floatPlaceholder="auto" appearance="outline">
                        <mat-label>Nome</mat-label>
                        <input matInput formControlName="nome" type="text" required placeholder="Nome">
                    </mat-form-field>
                    <mat-form-field  floatPlaceholder="auto" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email" type="text" required placeholder="Email">
                    </mat-form-field>
                    <mat-form-field  floatPlaceholder="auto" appearance="outline">
                        <mat-label>Sua Senha</mat-label>
                        <input matInput formControlName="senha1" type="password" required placeholder="Sua Senha">
                    </mat-form-field>
                    <mat-form-field  floatPlaceholder="auto" appearance="outline">
                        <mat-label>Confirmar Senha</mat-label>
                        <input matInput formControlName="senha2" type="password" required
                            placeholder="Confirme sua Senha">
                    </mat-form-field>
                </form>
            </mat-card-content>
            <mat-card-actions align="center">
                <button mat-raised-button color="accent" (click)="criarLogin()">Inscreva-se</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
