<mat-toolbar *ngIf="logged" color="primary" id="toolbar">
  <!-- <button
    mat-icon-button
    class="menu"
    *ngIf="menu == 'menu'"
    (click)="sidenav.toggle()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <button
    mat-icon-button
    class="back"
    *ngIf="menu == 'back'"
    (click)="goBack()"
  >
    <mat-icon svgIcon="back"></mat-icon></button
  >&nbsp;
  <span>{{ system ? system.name : "" }}</span>
  <button
    mat-icon-button
    class="logout"
    [matMenuTriggerFor]="appMenu"
    matTooltip="Configurações"
  >
    <mat-icon>more_vert</mat-icon>
  </button> -->
  <!-- <mat-menu #appMenu="matMenu">
    <button mat-menu-item (click)="changeEmpresa()">
      <mat-icon>domain</mat-icon>Trocar de empresa
    </button>-->
    <button mat-menu-item (click)="logout(sidenav)">
      <mat-icon>exit_to_app</mat-icon>Sair
    </button>
  <!-- </mat-menu> -->
</mat-toolbar>
<mat-drawer-container class="sidenav-container">

  <mat-drawer
    #sidenav
    mode="side"
    *ngIf="usuario && !loading"
    (opened)="menuChange(true)"
    (closed)="menuChange(false)"
  >
    <mat-card class="sidenav-usuario" *ngIf="usuario">
      <mat-card-header>
        <div mat-card-avatar class="avatar">
          <mat-icon>account_circle</mat-icon>
        </div>
        <mat-card-subtitle>{{ usuario.name }}</mat-card-subtitle>
        <mat-card-subtitle>{{ usuario.empresa }}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>

    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard">
        <fa-icon size="lg" [icon]="['far', 'list-alt']"></fa-icon
        >&nbsp;&nbsp;Dashboard
      </a>
      <ng-container *ngIf="usuario && system && system.menus">
        <ng-container *ngFor="let m of system.menus">
          <mat-expansion-panel
            *ngIf="usuario && (usuario.master || checkModule(m.menus))"
          >
            <mat-expansion-panel-header>
              <mat-panel-title>
                <fa-icon size="lg" [icon]="['fas', m.icon]"></fa-icon
                >&nbsp;&nbsp;{{ m.name }}
              </mat-panel-title>
            </mat-expansion-panel-header>

            <ng-container>
              <ng-container *ngFor="let inner of m.menus">
                <a
                  mat-list-item
                  [routerLink]="['/' + inner.route]"
                  *ngIf="usuario.master || checkModule([inner])"
                >
                  <fa-icon size="lg" [icon]="['fas', inner.icon]"></fa-icon
                  >&nbsp;&nbsp;{{ inner.name }}
                </a>
              </ng-container>
            </ng-container>
          </mat-expansion-panel>
        </ng-container>
      </ng-container>

      <mat-accordion>
        <mat-expansion-panel *ngIf="usuario.master">
          <mat-expansion-panel-header>
            <mat-panel-title
              ><fa-icon [icon]="['fas', 'cogs']"></fa-icon>&nbsp;&nbsp;Master
            </mat-panel-title>
          </mat-expansion-panel-header>

          <a mat-list-item routerLink="/empresa">
            <fa-icon [icon]="['fas', 'store-alt']"></fa-icon
            >&nbsp;&nbsp;Clientes
          </a>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-nav-list>
  </mat-drawer>

  <div class="sidenav-content">
    <!-- <mat-progress-bar mode="indeterminate" color="primary" *ngIf="saveLoading || loading"></mat-progress-bar> -->
    <div class="content" [@routeAnimations]="prepareRouteTransition(outlet)">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
  </div>
  <div [ngClass]="{ isLoading: !loading }">
    <mat-progress-spinner color="primary" mode="indeterminate">
    </mat-progress-spinner>
  </div>
</mat-drawer-container>
