<div #formRef>
  <div class="card-body">
    <div class="col-md-7 top-15">
      <form id="form" class="col-md-10 top-15" [formGroup]="form"
        novalidate>
        <span><h3>Edite as informaçoes da postagem <button
              mat-raised-button
              (click)="salvarPublicacao($event)">Salvar</button></h3>
        </span>
        <div class="form-row">
          <mat-accordion class="col-12 expsansion-labels">
            <mat-expansion-panel [expanded]="step === 0"
              (opened)="setStep(0)">
              <mat-expansion-panel-header>
                <mat-panel-title>Titulo</mat-panel-title>
                <mat-panel-description class="icon-direita">
                  &nbsp;
                  <mat-icon>portrait</mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="row controle-row">
                <mat-form-field appearance="outline"
                  floatLabel="always" appearance="outline"
                  floatLabel="always" class="top-15
                  col-12">
                  <mat-label>Título da Postagem:</mat-label>
                  <textarea required #titulo
                    placeholder="Título da Postagem:"
                    matInput maxlength="54" type="text"
                    formControlName="titulo" name="titulo"></textarea>
                  <mat-hint align="end">{{ titulo.value.length
                    }} / 54</mat-hint>
                  <mat-error
                    *ngIf="form.get('titulo').hasError('required')">Adicione
                    titulo
                  </mat-error>
                </mat-form-field>

              </div>
              <mat-action-row>
                <button mat-button color="primary"
                  (click)="nextStep()">Proximo</button>
              </mat-action-row>
            </mat-expansion-panel>

            <mat-expansion-panel [expanded]="step === 1"
              (opened)="setStep(1)">
              <mat-expansion-panel-header>
                <mat-panel-title>Validade</mat-panel-title>
                <mat-panel-description class="icon-direita">
                  &nbsp;
                  <mat-icon>date_range</mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="row controle-row">
                <mat-form-field appearance="outline"
                  floatLabel="always" class="top-15
                  col-6">
                  <mat-label>Inicio</mat-label>
                  <input placeholder="Inicio" [min]="hoje"
                    matInput maxlength="255"
                    [matDatepicker]="picker1"
                    formControlName="dataCriacao"
                    name="dataCriacao" />
                  <mat-datepicker-toggle matSuffix
                    [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="outline"
                  floatLabel="always" class="top-15
                  col-6">
                  <mat-label>Fim da Publicação</mat-label>
                  <input placeholder="Fim da Publicação"
                    [max]="mes" matInput maxlength="255"
                    [matDatepicker]="picker2"
                    formControlName="dataFinal"
                    name="dataFinal" />
                  <mat-datepicker-toggle matSuffix
                    [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
                <!-- <mat-divider></mat-divider> -->
              </div>
              <mat-action-row>
                <button mat-button color="warn"
                  (click)="prevStep()">
                  Anterior
                </button>
                <button mat-button color="primary"
                  (click)="nextStep()">
                  Proximo </button>
              </mat-action-row>
            </mat-expansion-panel>
            <mat-expansion-panel [expanded]="step === 2"
              (opened)="setStep(2)">
              <mat-expansion-panel-header>
                <mat-panel-title>Tags</mat-panel-title>
                <mat-panel-description class="icon-direita">
                  &nbsp;
                  <mat-icon>label</mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="controle-chips">
                <mat-chip-list #chipList>
                  <mat-chip *ngFor="let tags of tag"
                    [selectable]="selectable"
                    [removable]="removable"
                    (removed)="removeTag(tags)">
                    {{ tags.texto }}
                    <mat-icon matChipRemove
                      *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                  <input placeholder="Insira uma Tag"
                    [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    [matChipInputAddOnBlur]="addOnBlur"
                    (matChipInputTokenEnd)="addTag($event)"
                    formControlName="tags" />
                </mat-chip-list>
              </div>
              <mat-action-row>
                <button mat-button color="warn"
                  (click)="prevStep()">Anterior</button>
                <button mat-button color="primary"
                  (click)="nextStep()">Proximo</button>
              </mat-action-row>
            </mat-expansion-panel>
            <mat-expansion-panel [expanded]="step === 3"
              (opened)="setStep(3)">
              <mat-expansion-panel-header>
                <mat-panel-title>Thumbnail</mat-panel-title>
                <mat-panel-description class="icon-direita">
                  &nbsp;
                  <mat-icon>add_photo_alternate</mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="row controle-row">
                <input type="file"
                  (change)="fileChangeEvent($event)" />
                <image-cropper
                  [imageChangedEvent]="imageChangedEvent"
                  [maintainAspectRatio]="true"
                  [aspectRatio]="1 / 1" [resizeToWidth]="500"
                  format="png"
                  (imageCropped)="imageCropped($event)"
                  (imageLoaded)="imageLoaded()"
                  (loadImageFailed)="loadImageFailed()"></image-cropper>
                <button mat-raised-button></button>
              </div>
              <mat-action-row>
                <button mat-button color="warn"
                  (click)="prevStep()">
                  Anterior </button>
                <button mat-button color="primary"
                  (click)="nextStep()">
                  Proximo </button>
              </mat-action-row>
            </mat-expansion-panel>
            <mat-expansion-panel [expanded]="step === 4"
              (opened)="setStep(4)">
              <mat-expansion-panel-header>
                <mat-panel-title>Postagem</mat-panel-title>
                <mat-panel-description class="icon-direita">
                  &nbsp;
                  <mat-icon>add_circle</mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="row controle-row">
                <div class="top-15 col-12">

                  <span>
                    <app-ngx-editor [config]="configuracao"
                      formControlName="descricao">
                    </app-ngx-editor>
                  </span>


                </div>

                <!-- <mat-divider></mat-divider> -->
              </div>
              <mat-action-row>
                <button mat-button color="warn"
                  (click)="prevStep()">
                  Anterior </button>
                <button mat-button color="primary"
                  (click)="nextStep()">
                  Proximo </button>
              </mat-action-row>
            </mat-expansion-panel>
            <mat-expansion-panel [expanded]="step === 5"
              (opened)="setStep(5)">
              <mat-expansion-panel-header>
                <mat-panel-title>Valores</mat-panel-title>
                <mat-panel-description class="icon-direita">
                  &nbsp;
                  <mat-icon>attach_money</mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="row controle-row">
                <mat-form-field class="col-3">
                  <mat-label>Preço</mat-label>
                  <input matInput maxlength="6"
                    formControlName="preco" type="number"
                    class="example-right-align"
                    name="valor">
                  <span matPrefix>R$&nbsp;</span>
                  <span matSuffix>.00</span>
                </mat-form-field>
                <mat-form-field class="col-3">
                  <mat-label>Porcentagem</mat-label>
                  <input #PorcentagemValor matInput max="100"
                    min="0" formControlName="porcentagem"
                    type="number"
                    class="example-right-align"
                    name="PorcentagemValor">
                  <span matSuffix>%</span>
                  <mat-hint align="end">{{
                    PorcentagemValor.value }} / 100</mat-hint>
                  <mat-error
                    *ngIf="this.form.get('porcentagem').hasError('max')">Verifique
                    valores
                  </mat-error>
                  <mat-error
                    *ngIf="this.form.get('porcentagem').hasError('min')">Verifique
                    melhor o valor</mat-error>
                </mat-form-field>
                <mat-form-field class="col-3">
                  <mat-label>Preço com desconto</mat-label>
                  <input disabled="true" matInput
                    #Descontovalor maxlength="6"
                    formControlName="descontoPreco"
                    type="number"
                    class="example-right-align"
                    name="Descontovalor">
                  <span matPrefix>R$&nbsp;</span>
                  <span matSuffix>.00</span>
                </mat-form-field>
                <div class="col-3">
                  <mat-slide-toggle (change)="descontoSlide($event)"
                    color="primary" formControlName="isDesconto">Porcentagem</mat-slide-toggle>
                </div>


              </div>
              <mat-action-row>
                <button mat-button color="warn"
                  (click)="prevStep()">
                  Anterior
                </button>
              </mat-action-row>
            </mat-expansion-panel>
          </mat-accordion>
        </div>

      </form>
    </div>
    <div class="col-md-4 top-15">
      <h3>Pre-visualização da postagem</h3>
      <mat-card class="margin-auto card-postagem">

        <mat-card-header color="primary">

          <img matCardAvatar src="/assets/male.png">
          <mat-card-title>Empresa da postagem</mat-card-title>
          <mat-card-subtitle>Atividade da empresa</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="direito" *ngIf="this.form.get('isDesconto').value">
            <button mat-flat-button color="warn">{{this.form.get('porcentagem').value}}<span>%</span>OFF
              <mat-icon>local_offer</mat-icon></button>
          </div>
          <img matCardImage class="" *ngIf="croppedImage"
            [src]="croppedImage" alt="" />
          <img matCardImage class="" *ngIf="!croppedImage"
            src="/assets/default.png" />
          <div class="col-12 postagem-rascunho" (click)="setStep(0)">
            <h4>{{ form.get("titulo").value }}</h4>
          </div>
          <div class="col-12 postagem-titulo-exemplo"
            *ngIf="!form.get('titulo').value">
            <h4>Insira um titulo para a postagem</h4>
          </div>
          <div class="col-12" *ngIf="!tag.length"
            (click)="setStep(3)">
            <a>Tags-exemplo; insira-tag; insira-tag; insira-tag;</a>
          </div>
          <div id="tags-ctrl" class="col-12" (click)="setStep(3)">
            <span *ngFor="let t of tag" class="tags-controler"><a>{{
                t.texto }}</a>;</span>
          </div>
        </mat-card-content>
        <mat-card-footer>
          <div class="col-12" [innerHTML]="this.form.get('descricao').value"></div>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
</div>
